{{#partial "title"}}

{{/partial}}

{{#partial "content"}}


    <p style="font-family: 'Gloria Hallelujah', cursive" id="welcome">
        <span style="color: lightseagreen">HERO-SQUAD</span>
        is a social platform. Users will be able to forge a custom squad of superheroes/heroines and share for others to see.
    </p>
    <p align="center">MY SQUAD: <span style="font-weight: 900">THE GRAND THEFT AUTO</span></p>
    <div class="portfolio-items-wrapper">

        <div class="portfolio-item">
            <div class="background" style="background-image:url(/images/trevor.png)"
            ></div>
            <div class="attributes">
                <p align="center"><em><u>TREVOR</u></em></p>
                <p align="center">Abilities</p>
                <ol type="I">
                    <li>Mastery of magic</li>
                    <li>Utilizes mystical artifacts, such as the Cloak of Levitation and the Eye of Agamotto.</li>
                    <li>Genius-level intellect.</li>
                    <li>Skilled martial artist.</li>
                    <li>Gifted physician and surgeon.</li>
                </ol>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="background" style="background-image:url(/images/franklin.png)"></div>
            <div class="attributes">
                <p align="center"><em><u>FRANKLIN</u></em></p>
                <ol type="I">
                    <li>Regeneration and slowed aging</li>
                    <li>Utilizes mystical artifacts, such as the Cloak of Levitation and the Eye of Agamotto.</li>
                    <li>Retractable adamantium claws</li>
                    <li>Enhanced agility.</li>
                    <li>Indestructible bones via adamantium-infused skeleton</li>
                </ol>
            </div>
        </div>

        <div class="portfolio-item">
            <div class="background" style="background-image:url(/images/michael.png)"></div>
            <div class="attributes">
                <p align="center"><em><u>MICHAEL</u></em></p>
                <ol type="I">
                    <li>Ocular powers</li>
                    <li>Utilizes mystical artifacts, such as the Cloak of Levitation and the Eye of Agamotto.</li>
                    <li>Flight</li>
                    <li>Invulnerability</li>
                    <li>Accelerated healing</li>
                </ol>

            </div>

        </div>

    </div>


    <a href="/squads/new" class="btn btn-warning">Share your squad!</a>
    <style>
            .portfolio-items-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            }
            .portfolio-items-wrapper > div {
    margin:10px;
}
            portfolio-item {
  position: relative;
}
            .background{
            background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;

            };

            p{

                font-size: 1.5em;
                font-weight: 600;
            };
            p#welcome{

                font-size: 3.0em
            }

    </style>
    </div>

{{/partial}}

{{>layout.hbs}}